@font-face {
    font-family: Euro;
    src: url('./assets/fonts/215000E.ttf') format('truetype');
}

@font-face {
    font-family: Nobulina;
    src: url('./assets/fonts/NOBULINA.ttf') format('truetype');
}

@font-face {
    font-family: ReflowSans;
    src: url('./assets/fonts/ReflowSans.ttf') format('truetype');
}

/* .scrollbar {
    scrollbar-color: transparent transparent;
} */


@media (min-width: 1281px) {
    .scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 34px;
}
}